bar-page {
  ion-page {
    padding-top: 4em;
  }
  
  ion-scroll {
    background: #ececec !important;
  }

  st-img img {
    height: 224px;
  }

  ion-label {
    margin-bottom: -5px !important;
  }
}