bar-page {
  ion-page {
    padding-top: 4em;
  }

  .toolbar-background-md {
    background: var(--theme-primary)
  }

  .toolbar-title-md {
    color: white;
  }

  ion-icon {
    fill: var(--theme-secondary)
  }
  
  ion-scroll {
    background: var(--theme-secondary) !important;
    margin-bottom: 4.0em;
  }

  st-img img {
    height: 224px;
  }

  ion-label {
    margin-bottom: -5px !important;
  }

  @media (min-width: 550px) {
    ion-scroll {
      padding-left: 3em;
      padding-right: 3em;
    }
  }

  @media (min-width: 800px) {
    ion-scroll {
      padding-left: 12em;
      padding-right: 12em;
    }
  }

  @media (min-width: 1200px) {
    ion-scroll {
      padding-left: 23em;
      padding-right: 23em;
    }
  }
}