:root {
  --theme-primary: #24282e;
  --theme-secondary: black;
  --ion-color-md-primary: #1167ff;
  --ion-color-md-dark: #24282e;
}

ion-page {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  position: absolute;
  z-index: 0;
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  contain: layout size style;
}