main-page {
  display: block;
  animation-duration: 280ms;
  animation-name: slidein;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  opacity: 0;

  ion-page {
    background: var(--theme-secondary);
  }

  img {
    padding: 15px;
    display: block;
    max-width: 100%;
    height: 282px;
  }

  stencil-route-link a {
    text-decoration: none;
  }

  ion-scroll {
    background: var(--theme-secondary) !important;
  }

  .card {
    position: relative;
    text-align: center;
    will-change: opacity;
    margin-top: 10px;
  }

  .card-title {
    position: absolute;
    top: 56%;
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    background: var(--theme-secondary);
    padding-left: 0.8em;
    padding-right: 0.5em;
  }

  .card-subtitle {
    font-size: 1.5em;
    position: absolute;
    top: 69%;
    color: white;
    background: var(--theme-secondary);
    padding-left: 1.1em;
    padding-right: 0.5em;
  }

  @media (min-width: 550px) {
    ion-scroll {
      padding-left: 3em;
      padding-right: 3em;
    }
  }

  @media (min-width: 800px) {
    ion-scroll {
      padding-left: 12em;
      padding-right: 12em;
    }
  }

  @media (min-width: 1000px) {
    img {
      height: 572px;
    }
  }

  @media (min-width: 1500px) {
    img {
      height: 600px
    }
  }

  @media (min-width: 1200px) {
    ion-scroll {
      padding-left: 23em;
      padding-right: 23em;
    }
  }
}