main-page {
  ion-page {
    padding-top: 4em;
  }

  st-img img {
    height: 224px;
  }

  stencil-route-link a {
    text-decoration: none;
  }

  ion-scroll {
    background: #ececec !important;
  }
}