favorites-page {
  display: block;
  animation-duration: 280ms;
  animation-name: slidein;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  opacity: 0;

  h1 {
    margin-left: 10px;
  }

  ion-scroll {
    background: #ececec !important;
  }
}