beer-page {
  ion-fab {
    bottom: 5em !important;
    right: 10px;
  }

  #cameraButton, #cameraButton svg {
    height: 2em;
    width: 2em;
    fill: white;
  }

  ion-scroll {
    background: #ececec !important;
  }

  ion-button[disabled] {
    opacity: 0.5;
  }

  ion-button[disabled] button {
    color: grey;
  }

  ion-infinite-scroll-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: 550px) {
    ion-scroll {
      padding-left: 3em;
      padding-right: 3em;
    }
  }

  @media (min-width: 800px) {
    ion-scroll {
      padding-left: 12em;
      padding-right: 12em;
    }
  }

  @media (min-width: 1200px) {
    ion-scroll {
      padding-left: 23em;
      padding-right: 23em;
    }
  }
}