beer-page {

  #stylesBar {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 10px;

    ion-button {
      margin-right: 5px;
    }
  }

  #cameraButton, #cameraButton svg {
    height: 2em;
    width: 2em;
    fill: white;
  }

  ion-scroll {
    background: #ececec !important;
  }

  ion-button[disabled] {
    opacity: 0.5;
  }

  ion-button[disabled] button {
    color: grey;
  }

  ion-infinite-scroll-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}