beer-page {
  ion-page {
    padding-top: 4em;
  }

  ion-scroll {
    background: #ececec !important;
  }

  ion-button[disabled] {
    opacity: 0.5;
  }

  ion-button[disabled] button {
    color: grey;
  }
}