profile-page {

  ion-page {
    background: white;
  }

  ion-scroll {
    padding-left: 10px;
    padding-right: 10px;
  }

  #profileButtonBlock {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 32px;
    left: 0;
    width: 100%;
  }

  #logoutButton {
    padding-left: 15px;
  }

  #imageBlock {
    display: flex;
    justify-content: center;
    margin-top: 3em;
  }

  #imageBlock img {
    height: 10em;
    border-radius: 50%;
  }

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}