profile-page {
  display: block;
  animation-duration: 280ms;
  animation-name: slidein;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  opacity: 0;

  ion-page {
    background: white;
  }

  ion-scroll {
    padding-left: 10px;
    padding-right: 10px;
  }

  #imageBlock {
    display: flex;
    justify-content: center;
    margin-top: 3em;
  }

  #imageBlock img {
    height: 10em;
    border-radius: 50%;
  }

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  #logoutButton {
    margin-top: 2em;
  }
}