auth-page {
  ion-page {
    background: #222;
  }

  ion-scroll.scroll-md {
    background: url(/assets/img/beer-bg-img.jpg) no-repeat center center fixed !important; 
    background-size: cover !important;
  }

  #buttonBlock {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 32px;
    width: 100%;
  }

  #secondButton button {
    background-color: white;
    color: var(--ion-color-md-primary);
    margin-left: 10px;
  }

  ion-scroll {
    background: transparent !important;
  }

  #imageBlock {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #imageBlock h1 {
    color: white;
    font-size: 2.2em;
  }

  #iconImage {
    width: 14em;
  }

  .scroll-inner {
    height: 60%;
  }
}