beer-item {

  ion-card {
    opacity: 0;
  }

  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  ion-buttons {
    display: flex;
  }

  #anchorDiv {
    margin-left: auto;
  }

  lazy-img {
    display: flex;
    justify-content: center;
    height: 20em;
    position: relative;
    top: -8px;
  }

  ion-icon svg {
    width: 1.5em;
    height: 1.2em;
  }
}