beer-item {

  st-img {
    display: flex;
    justify-content: center;
  }

  st-img {
    height: 20em;
  }

  ion-icon svg {
    width: 1.5em;
    height: 1.2em;
  }

  ion-buttons {
    display: flex;
    justify-content: flex-end;
  }

  #detailButton button {
    color: #488aff !important;
  }
}