beer-item {

  st-img {
    display: flex;
    justify-content: center;
  }

  st-img img {
    height: 20em;
  }

  ion-icon svg {
    width: 1.5em;
    height: 1.2em;
  }

  ion-buttons {
    display: flex;
    justify-content: flex-end;
  }

  #detailButton button {
    color: #488aff !important;
  }

  ion-card {
    opacity: 0;
  }

  .animateIn {
    animation-duration: .5s;
    animation-name: slidein;
    animation-timing-function: cubic-bezier(.36,.66,.04,1);
    animation-fill-mode: forwards;
  }

  @keyframes slidein {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}