bar-directions #map {
  width: 100%;
  height: 100%;
  position: absolute !important;
}

bar-directions #bottomPaper {
  z-index: 9999;
  position: fixed;
  background: white;
  width: 100%;
  bottom: 4em;
  padding-top: 16px;
  padding-bottom: 16px;
}
